<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="jssServer" value="sma-jss.iam.local:8443"/>
      <add key="jssUsername" value="username"/>
      <add key="jssPassword" value="password"/>
      <add key="groupName" value="All CMI"/>
      <add key="outFile" value="outfile.csv"/>
    </appSettings>
</configuration>